body {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
  background: fixed;
  background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72);
}

button {
	cursor: pointer;
}
